<h1>All QAs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>About</th>
    <th>Interests</th>
    <th></th>
    <th></th>
    <% if current_user.admin? %>  
      <th></th>
    <% end %>
  </tr>

<% @qas.each do |qa| %>
  <tr>
    <td><%= qa.name %></td>
    <td><%= qa.email %></td>
    <td><%= qa.about %></td>
    <td>
      <ul>
        <% qa.interests.shuffle.each do |interest| %>
          <li><%= interest %></li>
        <% end %>
      </ul>
    </td>
    <td><%= link_to 'Show', qa %></td>
    <td><%= link_to 'Edit', edit_qa_path(qa) %></td>
    <% if current_user.admin? %>  
      <td>
        <%= link_to 'Delete', qa, confirm: 'Are you sure?', method: :delete %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qa', new_qa_path %>
