<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @qa.name %>
</p>

<p>
  <b>Email:</b>
  <%= @qa.email %>
</p>

<p>
  <b>About:</b>
  <%=raw @qa.about %>
</p>


<%= link_to 'Edit', edit_qa_path(@qa) %> |
<%= link_to 'Back', qas_path %>
